header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    font-size: 16px;
    margin-bottom: -10px;
}

.answer-options {
    display: flex;
    flex-direction: column;
}

.start-quiz {
    text-align: center;
}

#answer-options > button {
    width: 200px;
    text-align: left;
    background-color: darkorchid;
    color: white;
}

#end-of-game {
    display: flex;
    flex-direction: column;
    display: none;
}

#question-container {
    text-align: center;
    display: none;
}

#next-question {
    margin-top: 20px;
    margin-bottom: 20px;
}

#result-container {
    display: none;
}